.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'form preview'
}

.form {
  grid-area: 'form';
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'over' + 
                        'alt';
  margin-right: 20px;
}

#overlay-colors {
  grid-area: 'over';
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'over-left over-right';

}

#alternating-colors {
  grid-area: 'alt';
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'alt-left alt-right';

}


#over-left-eye-select {
  grid-area: 'over-left'
}

#over-right-eye-select {
  grid-area: 'over-right'
}

#alt-left-eye-select {
  grid-area: 'alt-left'
}

#alt-right-eye-select {
  grid-area: 'alt-right'
}

p{
  font-size: 8px important!;
}

.preview {
  grid-area: 'preview'
}



/* #right-view {
  grid-area: 'right';
	width: 50vw;
	height: 50vh;
	background: #1E2D2F;
	display: none;
	justify-content: center;
	align-items: center;
} */

#color_left {
  border: none;
  width: 100px;
  height: 100px;
  outline: none;
  padding: 4px;
  box-shadow: 1px 0px 3px #333, -1px 0px 3px #333;
}

#color_right {
  border: none;
  width: 100px;
  height: 100px;
  outline: none;
  padding: 4px;
  box-shadow: 1px 0px 3px #333, -1px 0px 3px #333;
}

input[type="button"] {
  padding: 10px 15px;
  border: none;
  background-color: #333;
  color: white;
}

p#output_left {
  color: white;
  letter-spacing: 1px;
}

p#output_right {
  color: white;
  letter-spacing: 1px;
}

input[type="button"]:hover {
  background-color: #444;
  cursor: pointer;
  transition: .2s linear;
}


